.dashboard-selector {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: rgb(18, 161, 183);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(15, 130, 150);
}
